$accent-font: "Oswald", "Impact", sans-serif;
$main-font: "Lato", "Helvetica", sans-serif;

$text-color-accent: #000000;
$text-color-main: #444444;
$text-color-light: #f2f2f2;
$text-color-darken: #666666;
$text-color-dark: #222222;
$text-color-contrast: #ffffff;


$bg-color-main: #ffffff;
$bg-color-lighten: #f2f2f2;
$bg-color-light: #ebebeb;
$bg-color-darkest: #dcdcdc;
$bg-color-darken: #666666;
$bg-color-dark: #eaeaea;
$bg-color-accent: #68b738;
$bg-color-accent-bright: #5eaa2f;

$border-color-light: #e6e6e6;
$border-color-lighten: #e7e7e7;
$border-color-dark: #d9d9d9;
$border-color-darken: #cdcdcd;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1280px;

// @custom-media --narrow-vp (width <= 767.9px);
// @custom-media --not-narrow-vp (width >= 768px);  (width >= #{$tablet-width})
// @custom-media --middle-vp (768px <= width < 1279.9px);
// @custom-media --wide-vp (width >= 1280px); width >= #{$desktop-width}
// @custom-media --not-wide-vp (width <= 1279.9px);
