.banner {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 20px;
  padding-top: 27px;

  font-family: $accent-font;
  font-weight: 400;
  text-align: center;
  color: $text-color-contrast;

  @media (width < #{$tablet-width}) {
    background-image:
      linear-gradient(
        to top,
        $bg-color-main 39.6%,
        rgba($bg-color-accent, 0.85) 39.6%
      ),
      image-set(
        url("../../images/bg-banner-mobile@2x.webp") 2dppx type("image/webp"),
        url("../../images/bg-banner-mobile@1x.webp") 1dppx type("image/webp"),
        url("../../images/bg-banner-mobile@2x.jpg") 2dppx,
        url("../../images/bg-banner-mobile@1x.jpg") 1dppx
      ),
      linear-gradient(
        to top,
        $bg-color-main 39.6%,
        #504f55 39.6%
      );
    background-position: center top, center top;
    background-size: 100%, auto 60.4%;
    background-repeat: no-repeat;
  }

  @media (width >= #{$tablet-width}) {
    position: relative;

    padding-bottom: 526px;

    color: $text-color-accent;
    text-align: left;
  }

  @media (width >= #{$desktop-width}) {
    position: static;

    grid-template-columns: 416px 1fr;
    padding-left: 80px;
    padding-bottom: 0;
  }

  &::before {
    @media (width >= #{$desktop-width}) {
      content: "";

      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;

      width: 50%;
      height: 693px;

      background-image:
        linear-gradient(rgba($bg-color-accent, 0.85)),
        image-set(
          url("../../images/bg-banner-desktop@2x.webp") 2dppx type("image/webp"),
          url("../../images/bg-banner-desktop@1x.webp") 1dppx type("image/webp"),
          url("../../images/bg-banner-desktop@2x.jpg") 2dppx,
          url("../../images/bg-banner-desktop@1x.jpg") 1dppx
        ),
        linear-gradient(#504f55);
      background-position: right bottom;
      background-size: 100%, cover, 100%;
      background-repeat: no-repeat;
    }
  }
}

.banner__picture {
  width: 100%;
  height: auto;

  text-align: center;

  @media (width >= #{$tablet-width}) {
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: -1;

    transform: translateX(-50%);
  }

  @media (width >= $desktop-width) {
    position: static;
    grid-column: 2;
    grid-row: 1 / 5;
    place-self: center start;
    width: auto;
    margin-left: -48px;

    text-align: left;
    transform: none;
  }
}

.banner__title {
  margin-top: 0;
  margin-bottom: 25px;

  font-weight: inherit;
  font-size: 36px;
  line-height: 36px;
  color: inherit;

  @media (width >= $tablet-width) {
    margin-bottom: 41px;
  }

  @media (width >= #{$desktop-width}) {
    grid-column: 1;
  }
}

.banner__text {
  margin-top: 0;
  margin-bottom: 29px;

  font-weight: inherit;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (width >= $tablet-width) {
    margin-bottom: 49px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (width >= #{$desktop-width}) {
    grid-column: 1;
  }
}

.banner__action {
  width: 100%;

  @media (width >= #{$tablet-width}) {
    grid-row: 4;
    width: 244px;
  }

  @media (width >= #{$desktop-width}) {
    grid-column: 1;
    grid-row: auto;
    place-self: start;
    margin: 0;
  }
}
