.button {
  display: block;
  padding: 10px 20px;
  border: none;

  font-family: $accent-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $text-color-contrast;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  background-color: $bg-color-accent;
  cursor: pointer;
}
