.catalog-item {
  position: relative;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px 0 25px;

  @media (width >= #{$tablet-width}) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 39px 39px;

    background-image: linear-gradient(to bottom, transparent 0%, transparent 81px, #{$bg-color-lighten} 81px, #{$bg-color-lighten} 100%);
  }

  @media (width >= #{$desktop-width}) {
    padding: 0 38px 40px;
  }

  &::before {
    @media (width < #{$tablet-width}) {
      content: "";

      position: absolute;
      top: 0;
      right: 0;
      left: 0;

      display: block;
      height: 1px;

      background-color: $border-color-light;
      box-shadow: 30px 0 0 0 #{$border-color-light}, -30px 0 0 0 #{$border-color-light};
    }
  }
}

.catalog-item__title {
  width: 60%;
  margin-bottom: 18px;

  font-family: $accent-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $text-color-dark;
  text-align: left;

  @media (width >= #{$tablet-width}) {
    margin-bottom: 21px;

    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (width >= #{$desktop-width}) {
    width: 70%;

    line-height: 21px;
  }
}

.catalog-item__image {
  grid-column: 1 / 2;
  grid-row: 1 / 5;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 140px;
  width: 100%;


  @media (width >= #{$tablet-width}) {
    order: -1;
    width: 168px;
    height: 200px;
    margin-bottom: 34px;
  }

  @media (width >= #{$desktop-width}) {
    margin-bottom: 46px;
  }
}

.catalog-item__img {
  display: block;

  object-fit: contain;
}

.catalog-item__link {
  color: inherit;
  text-decoration: none;
}

.catalog-item__parameters {
  @media (width >= #{$tablet-width}) {
    margin-bottom: 33px;
  }
}

.catalog-item__action {
  grid-column: 1 / -1;
  width: 100%;
  margin-top: 13px;

  @media (width >= #{$tablet-width}) {
    margin-top: auto;
  }
}
