.header {
  position: relative;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 66px;

  @media (width >= #{$tablet-width}) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 24px;
    padding-bottom: 42px;
  }

  @media (width >= #{$desktop-width}) {
    padding-top: 53px;
    padding-bottom: 29px;
  }
}

.header__logo {
  grid-column: 1 / -1;
  grid-row: 1;
  align-self: flex-start;
}

.header__nav {
  grid-column: 1 / -1;
  grid-row: 1;

  @media (width >= #{$tablet-width}) {
    flex-grow: 1;
    padding-top: 18px;
  }
}
