.logo {
  display: grid;
  grid-template-columns: 1fr 101px 1fr;
  align-items: center;
  padding: 12px 20px 16px;

  text-decoration: none;

  &[aria-current="page"] {
    pointer-events: none;
  }

  @media (width >= #{$tablet-width}) {
    padding: 0;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 50px;
    align-items: center;
    gap: 13px;
  }

  @media (width >= #{$desktop-width}) {
    width: 202px;
    height: 60px;
  }

  &--footer {
    display: flex;
    justify-content: center;
    padding: 39px 20px 32px;

    .logo__image {
      width: 128px;
      height: 24px;
    }

    @media (width >= #{$tablet-width}) {
      justify-content: flex-start;
      padding: 0;

      text-align: left;
    }
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &::after {
    @media (--narrow-vp) {
      content: "";

      width: 34px;
    }
  }
}

.logo__image {
  justify-self: start;
  display: block;

  @media (width >= #{$tablet-width}) {
    justify-self: none;
    width: 60px;
    height: 50px;
  }

  @media (width >= #{$desktop-width}) {
    width: 70px;
    height: 60px;
  }
}

.logo__text {
  display: block;
}
