.page {
  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $text-color-main;

  word-wrap: break-word;
  overflow-wrap: break-word;

  @media (min-width: #{$tablet-width}) {
    font-size: 16px;
    line-height: 24px;
  }
}

.page__body {
  margin: 0;
}

.page__title {
  margin-bottom: 40px;

  @media (width >= #{$tablet-width}) {
    margin-bottom: 54px;
  }

  @media (width >= #{$desktop-width}) {
    margin-bottom: 56px;
  }
}

.page__centerer {
  padding-inline: 20px;

  @media (#{$tablet-width} <= width < #{$desktop-width}) {
    padding-inline: 30px;
  }

  @media (width >= #{$desktop-width}) {
    width: 1220px;
    margin-inline: auto;
  }
}

.page__header {
  @media (width >= #{$desktop-width}) {
    width: 1220px;
    margin: 0 auto;
  }
}

.page__modules {
  margin-bottom: 20px;

  @media (width >= #{$tablet-width}) {
    margin-bottom: 45px;
  }

  @media (width >= #{$desktop-width}) {
    margin-bottom: 71px;
  }
}

.page__catalog {
  margin-bottom: 25px;

  @media (width >= #{$tablet-width}) {
    margin-bottom: 74px;
  }

  @media (width >= #{$desktop-width}) {
    margin-bottom: 71px;
  }
}

.page__additional {
  margin-bottom: 40px;

  @media (width >= #{$tablet-width}) {
    margin-bottom: 80px;
  }

  @media (width >= #{$desktop-width}) {
    margin-bottom: 96px;
  }
}
