.page-title {
  font-family: $accent-font;
  color: $text-color-accent;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (width >= #{$tablet-width}) {

    font-size: 60px;
    line-height: 60px;
  }
}
