.section-title {
  font-family: $accent-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  color: $text-color-accent;

  @media (width >= #{$tablet-width}) {
    font-size: 60px;
    line-height: 60px;
  }

  &--contrast {
    color: inherit;
  }
}
